<div class="container">
     <div class="barra">
          <h1>Sumativa</h1>
          <hr>
     </div>
     <div>
     <div class="PrimerosBotones">
     <app-boton-primario class="boton-primario" (clickEvent)="onButtonClick('Primario')"></app-boton-primario>
     <app-boton-secundario class="boton-secundario" (clickEvent)="onButtonClick('Secundario')"></app-boton-secundario>
     </div>
     <div class="SegundosBotones">
     <app-boton-aceptar class="boton-aceptar" (clickEvent)="onButtonClick('Aceptar')"></app-boton-aceptar>
     <app-boton-cancelar class="boton-cancelar" (clickEvent)="onButtonClick('Cancelar')"></app-boton-cancelar>
     </div>
     <div class="BotonOscuro">
     <app-modo-oscuro class="modo-oscuro" (click)="cambiarModo()"></app-modo-oscuro>
     </div>
     <div class="derecho">
     <p class="c">Correo</p>
     <app-contrasena [(ngModel)]="password" class="input"></app-contrasena>
     <p class="e">Email</p>
     <app-email [(ngModel)]="email" class="input"></app-email>
     <p class="t">Texto</p>
     <app-texto [(ngModel)]="texto" class="input"></app-texto>
     </div>
     </div>
     <div class="datos">
     <div class="visualizacion-container">
     <p class="parrafo">Email: {{ email }}</p>
     <p class="parrafo">Contraseña: {{ password }}</p>
     <p class="parrafo">Texto: {{ texto }}</p>
     <div class="cuadrado" [ngClass]="{ 'animado': isAnimated }"></div>
     </div>
     </div>
</div>
<div *ngIf="mostrarMensaje">Profe exonereme si o q? </div> 